<div class="about">
  <h1>About us</h1>
  <p>TARUC Canteen Web App is a Single Page Application (SPA) that is powered by Node.JS (for server) and Angular (for website).</p>
  <p>Our website allows multiple vendor and customize their own menu every day without any hassles</p>
  <p>Any order must be placed <b>TWO (2)</b> days before the order date</p>
  <p>Any order modification and cancellation must be made <b>ONE (1)</b> day before the order date</p>
  <p>To topup credit points, please find canteen operator in the main counter</p>
</div>
<div class="privacy">
<h1>Privacy policy</h1>
<p>At TARC canteen, accessible from http://tarcollegecanteen.back4app.io/, one of our main priorities is the privacy of our visitors.
  This Privacy Policy document contains types of information that is collected and recorded by TARC canteen and how we use it.</p>
<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us through email at tanwy-cm17@student.tarc.edu.my</p>
<h3>Log Files</h3>
<p>TARC canteen follows a standard procedure of using log files. These files log visitors when they visit websites.
  All hosting companies do this and a part of hosting services' analytics.
  The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP),
  date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information
  that is personally identifiable. Our company and third party hosting companies <b>DOES NOT</b> track your behavior in our website,
  all these information are collected for legal purpose.</p>
<h3>Cookies</h3>
<p>Like any other website, TARC canteen uses 'cookies'. We only store login session and some of the account information in the cookies.
  <b>No</b> other information will be collected or stored with the cookies.</p>
<h3>Data stored</h3>
<p>Most of the interaction you have made within the websites will be sent to the server, including but not limited to:</p>
<ul>
  <li>Account info, registration and login time</li>
  <li>Credit transaction made</li>
  <li>Feedback provided</li>
  <li>Meal, menu, and vendor information</li>
  <li>Order placed (Order that is not placed will not be sent to our server)</li>
  <li>Pictures uploaded</li>
</ul>
<h3>Consent</h3>
<p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>
</div>
