.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
.main-wrapper > img {
  max-width: 100%;
  max-height: 40vh;
  margin-bottom: 10px;
}

div.card-list {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}
div.card-list button {
  height: 40%;
  width: 30%;
  margin-bottom: 20px;
}

div.card-list button:nth-child(3n + 1):last-child {
  width: 90%;
}

button mat-icon {
  width: 64px;
  height: 64px;
  font-size: 64px;
  color: gray;
  white-space: normal;
}

@media (max-width: 767px) {
  div.card-list button {
    width: 45%;
  }
  button mat-icon {
    width: 50px;
    height: 50px;
    font-size: 50px;
  }
}
