<div class="main-wrapper">
  <h2>Welcome to TARUC Canteen Web App!</h2>
  <img src="assets/school.png"/>
  <div class="card-list">
    <button mat-raised-button routerLink="/login" routerLinkActive="active" *ngIf="auth.accessLevel === ANONYMOUS"><mat-icon>lock</mat-icon>Login</button>
    <button mat-raised-button routerLink="/order" routerLinkActive="active" *ngIf="auth.accessLevel === CUSTOMER"><mat-icon>restaurant_menu</mat-icon>Order meal</button>
    <button mat-raised-button routerLink="/orderHistory" routerLinkActive="active" *ngIf="auth.accessLevel === CUSTOMER"><mat-icon>receipt</mat-icon>View preorder list</button>
    <button mat-raised-button routerLink="/consumption" routerLinkActive="active" *ngIf="auth.accessLevel === CUSTOMER"> <mat-icon>timeline</mat-icon> Food Intake</button>
    <button mat-raised-button routerLink="/vendor/meal" routerLinkActive="active" *ngIf="auth.accessLevel === VENDOR"> <mat-icon>fastfood</mat-icon> Meal management</button>
    <button mat-raised-button routerLink="/vendor/menu" routerLinkActive="active" *ngIf="auth.accessLevel === VENDOR"> <mat-icon>restaurant_menu</mat-icon> Menu management</button>
    <button mat-raised-button routerLink="/vendor/order" routerLinkActive="active" *ngIf="auth.accessLevel === VENDOR"> <mat-icon>receipt</mat-icon> Preorder report</button>
    <button mat-raised-button routerLink="/vendor/verify" routerLinkActive="active" *ngIf="auth.accessLevel === VENDOR"> <mat-icon>crop_free</mat-icon> Verify preorder</button>
    <button mat-raised-button routerLink="/topup" routerLinkActive="active" *ngIf="auth.accessLevel === OPERATOR"> <mat-icon>attach_money</mat-icon> Exchange credit point</button>
    <button mat-raised-button routerLink="/user/credit" routerLinkActive="active" *ngIf="auth.accessLevel !== ANONYMOUS"> <mat-icon>account_balance_wallet</mat-icon> Credit History </button>
    <button mat-raised-button routerLink="/accountInfo" routerLinkActive="active" *ngIf="auth.accessLevel !== ANONYMOUS"> <mat-icon>account_circle</mat-icon> Account info </button>
    <button mat-raised-button routerLink="/feedback" routerLinkActive="active" *ngIf="auth.accessLevel !== ANONYMOUS"> <mat-icon>feedback</mat-icon> Feedback </button>
    <button mat-raised-button routerLink="/aboutus" routerLinkActive="active"> <mat-icon>info</mat-icon> About Canteen App </button>
  </div>
</div>
