div.user-info {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  height: 100%;
}
div.user-info p {
  margin: auto;
  margin-right: 20px;
}
div.user-info button.mat-button {
  font-size: 20px;
}
div.user-info button.mat-button mat-icon {
  font-size: 38px;
  height: 38px;
  width: 38px;
}
div.space-out {
  flex-grow: 1;
}
mat-toolbar.header mat-toolbar-row {
  padding-left: 0;
  padding-right: 0;
}
.mat-button {
  height: 100%;
}

@media (max-width: 400px) {
  div.app-info {
    font-size: 17px;
  }
}
