<mat-toolbar class="header" color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="SideNav.toggle()"><mat-icon class="size-32">menu</mat-icon></button>
    <img src="assets/logo.png" style="height: 100%; margin-right: 10px;"/>
    <div class="app-info">{{appName}}</div>
    <div class="user-info" *ngIf="!needTwoRow">
      <p *ngIf="creditService.user != null">Credit Point: {{creditService.amount}}</p>
      <button mat-button routerLink="{{link}}" routerLinkActive="active"> <mat-icon>account_circle</mat-icon> {{username}} </button>
    </div>
    <div class="space-out" *ngIf="needTwoRow"></div>
    <button mat-button *ngIf="needTwoRow" (click)="updatHide()" matTooltip="{{hideTwoRow ? 'Show credit info' : 'Hide credit info'}}">
      <mat-icon *ngIf="hideTwoRow">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="!hideTwoRow">keyboard_arrow_up</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="needTwoRow && !hideTwoRow">
    <div class="user-info">
      <p *ngIf="creditService.user != null">Credit Point: {{creditService.amount}}</p>
    </div>
    <button *ngIf="creditService.user == null" mat-button routerLink="{{link}}" routerLinkActive="active"> <mat-icon>account_circle</mat-icon> {{username}} </button>
  </mat-toolbar-row>
</mat-toolbar>
