<div class="menu-wrapper">
  <mat-spinner *ngIf="!vendorListLoaded"></mat-spinner>
  <mat-card *ngIf="vendorListLoaded" class="vendor-info-wrapper">
    <button mat-button [disabled]="vendorList.length < 2" (click)="peekVendor(-1)" matTooltip="Previous food vendor"><mat-icon>keyboard_arrow_left</mat-icon></button>
    <div class="vendor-info">
      <div class="indicator">No. {{index + 1}} of {{vendorList.length}} vendors</div>
      <h1 *ngIf="!vendor.editable">{{vendor.name}}</h1>
      <img src="{{vendor.pictureUrl}}"/>
      <p *ngIf="!vendor.editable">{{vendor.description}}</p>
    </div>
    <button mat-button [disabled]="vendorList.length < 2" (click)="peekVendor(1)" matTooltip="Next food vendor"><mat-icon>keyboard_arrow_right</mat-icon></button>
  </mat-card>
  <div *ngIf="vendorListLoaded" class="menu-date-info">
    <div class="same-width">
      <button mat-raised-button (click)="getOrderableMenu()" matTooltip="Jump to first orderable date in the menu">Jump to first date</button>
    </div>
    <div class="menu-date-control-wrapper">
      <button mat-button [disabled]="isNearestDate" (click)="changeMenuDate(-1)" matTooltip="Previous date"><mat-icon>keyboard_arrow_left</mat-icon></button>
      <div class="menu-date-time-wrapper">
        <mat-form-field>
          <input #menuDate matInput [min]="nearestOrderableDate" [max]="maxOrderableDate" [matDatepicker]="picker" (dateChange)="updateMenuDate(menuDate.value)" placeholder="Meal menu date" [formControl]="dateFormControl">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-radio-group aria-label="Order type" (change)="updateMenuType($event)">
          <mat-radio-button value="0" [checked]="true">Breakfast</mat-radio-button>
          <mat-radio-button value="1">Lunch</mat-radio-button>
        </mat-radio-group>
      </div>
      <button mat-button [disabled]="isMaxDate" (click)="changeMenuDate(1)" matTooltip="Previous date"><mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
    <div class="same-width">
      <button mat-raised-button [color]="inOrderView ? 'primary' : ''" (click)="toggleOrderView()" [matBadge]="orderService.orderCount" matBadgeOverlap="true" matTooltip="Show all preorder you have made in this session">Preorder list</button>
    </div>
  </div>
  <mat-spinner *ngIf="vendorListLoaded && !menuLoaded"></mat-spinner>
  <div class="meal-list-holder" *ngIf="!inOrderView">
    <app-meal *ngFor="let meal of menu.meals" [mealDetail]="meal" (clicked)="onClickMeal($event)"></app-meal>
    <div class="padding-for-scroll"></div>
  </div>
  <div class="preorder-detail-holder" *ngIf="inOrderView">
    <app-order></app-order>
  </div>
</div>
