.menu-wrapper {
  max-width: 800px;
  margin: 10px auto 0;
  padding: 0 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.vendor-info-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
.vendor-info {
  flex-grow: 10;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}
.vendor-info img {
  max-height: 45vh;
  max-width: 100%;
}

.indicator {
  align-self: center;
}

.menu-date-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  align-self: stretch;
}
.menu-date-info > .same-width {
  flex-grow: 1;
  width: 0;
}
.menu-date-info > .same-width:first-child {
  display: flex;
  justify-content: flex-end;
}
.menu-date-control-wrapper {
  display: flex;
  justify-content: center;
}
.menu-date-time-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-date-time-wrapper mat-form-field:first-child {
  margin-top: 20px;
}
mat-radio-group {
  display: flex;
  justify-content: space-between;
}

.padding-for-scroll {
  margin-bottom: 50vh;
}
app-meal + .padding-for-scroll {
  margin-bottom: 0;
}

.meal-list-holder {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 100px;
}
app-meal {
  margin: 10px;
}
.preorder-detail-holder {
  width: 100%;
  margin-bottom: 200px;
}

@media screen and (max-width: 680px) {
  .menu-date-info {
    flex-direction: column;
  }
  .menu-date-info > .same-width {
    display: flex;
    align-items: center;
    width: auto;
  }
  mat-radio-group {
    margin-bottom: 20px;
  }
}
