.description-text {
  color: rgb(0,0,0,.6);
}
.align-right {
  text-align: right;
}

.mat-table {
  width: 100%;
  border-top: 1px solid rgba(0,0,0,.12);
}
.mat-table .mat-header-row .mat-header-cell:first-child,
.mat-table .mat-row .mat-cell:first-child {
  flex-grow: 1;
}
.mat-table .mat-header-row .mat-header-cell:not(:first-child):not(:last-child):not(:nth-child(4)),
.mat-table .mat-row .mat-cell:not(:first-child):not(:last-child):not(:nth-child(4)) {
  width: 10%;
}
.mat-table .mat-header-row .mat-header-cell:nth-child(4),
.mat-table .mat-row .mat-cell:nth-child(4) {
  width: 12%;
}
.mat-table .mat-header-row .mat-header-cell:last-child,
.mat-table .mat-row .mat-cell:last-child {
  width: 120px;
  height: 100%;
}
.mat-table .mat-row .mat-cell:last-child button.mat-mini-fab {
  margin-left: 10px;
}
.mat-table .mat-group-header-row .mat-group-header-cell:first-child {
  width: 250px;
}

.mat-table .mat-footer-row .mat-footer-cell:first-child {
  padding-right: 10px;
}
.mat-table .mat-footer-row .mat-footer-cell:last-child {
  width: auto;
  padding: 0 10px;
  min-width: 103px;
  width: 18%;
  justify-content: center;
}

.mat-table {
  display: block;
}

.mat-header-row, .mat-footer-row {
  min-height: 56px;
}

.mat-group-header-row, .mat-row {
  min-height: 48px;
}

.mat-row, .mat-header-row, .mat-group-header-row, .mat-footer-row {
  display: flex;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,.12);
  align-items: center;
  box-sizing: border-box;
}
.mat-footer-row {
  justify-content: flex-end;
}

.mat-group-header-row {
  border-top: 1px solid rgba(0,0,0,.87);
}

.mat-row::after, .mat-header-row::after, .mat-group-header-row::after, .mat-footer-row::after {
  display: inline-block;
  min-height: inherit;
  content: '';
}

.mat-cell:first-of-type, .mat-header-cell:first-of-type, .mat-group-header-cell:first-of-type, .mat-footer-cell:first-of-type {
  padding-left: 24px;
}
/*
.mat-cell:last-of-type:not(.action-cell), .mat-header-cell:last-of-type, .mat-group-header-cell:last-of-type, .mat-footer-cell:last-of-type {
  padding-right: 24px;
}
*/
.mat-cell, .mat-header-cell, .mat-group-header-cell, .mat-footer-cell {
  display: flex;
  align-items: center;
  overflow: hidden;
  word-wrap: break-word;
  min-height: inherit;
}

.mat-group-header-cell {
  padding-left: 24px;
  padding-right: 24px;
}

@media (max-width: 400px) {
  .mat-table .mat-header-row .mat-header-cell:last-child,
  .mat-table .mat-row .mat-cell:last-child {
    width: 90px;
  }
}
