<div class="mat-table mat-elevation-z8">
  <div class="mat-header-row">
      <div class="mat-header-cell">Meal name</div>
      <div class="mat-header-cell">Meal price</div>
      <div class="mat-header-cell">Quantity</div>
      <div class="mat-header-cell">Subtotal</div>
      <div class="mat-header-cell">Action</div>
  </div>
  <div *ngFor="let preorder of orderService.preorderList; let orderIndex = index">
    <div class="mat-group-header-row">
      <div class="mat-group-header-cell">{{preorder.menu.isLunch ? 'Lunch' : 'Breakfast'}} for {{preorder.menu.date.toDateString()}} </div>
      <div class="mat-group-header-cell description-text">Vendor: {{preorder.menu.vendor.name}}</div>
    </div>
    <div class="mat-row" *ngFor="let preorderDetail of preorder.details; let detailIndex = index">
      <div class="mat-cell">{{preorderDetail.meal.name}}</div>
      <div class="mat-cell">{{preorderDetail.meal.price}}</div>
      <div class="mat-cell">{{preorderDetail.quantity}}</div>
      <div class="mat-cell">{{preorderDetail.meal.price * preorderDetail.quantity}}</div>
      <div class="mat-cell action-cell">
        <button mat-mini-fab (click)="onClickEditDetail(orderIndex, detailIndex)"><mat-icon>edit</mat-icon></button>
        <button mat-mini-fab (click)="onClickDeleteDetail(orderIndex, detailIndex)"><mat-icon>delete</mat-icon></button>
      </div>
    </div>
    <div class="mat-footer-row">
      <div class="mat-footer-cell align-right">Total: </div>
      <div class="mat-footer-cell">{{preorder.getTotalPrice()}}</div>
      <div class="mat-footer-cell"><button mat-raised-button color="primary" (click)="askPlaceOrder(orderIndex)">Place order</button></div>
    </div>
  </div>
  <div class="mat-group-header-row" *ngIf="orderService.preorderList.length === 0">
    <div class="mat-group-header-cell">You have not placed any preorder yet</div>
  </div>
</div>
