.credit-info-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #fff;
}

div.loading-block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000033;
  z-index: 1;
}
div.loading-block mat-spinner {
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

.table-action-wrapper {
  display: flex;
  align-items: center;
}

.selection-wrapper {
  flex-grow: 10;
  padding: 0 25px;
}

.selection-wrapper mat-form-field {
  width: 250px;
  margin-top: 15px;
  margin-bottom: -15px;
}

.include-padding {
  flex-grow: 10;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
  overflow: hidden;
  width: 100%;
  max-width: 1500px;
}

.scrollable-table {
  flex: 1;
  width: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

table tr th:first-child, table tr td:first-child {
  width: 180px;
}

table tr th:nth-child(2), table tr td:nth-child(2),
table tr th:nth-child(3), table tr td:nth-child(3) {
  width: 125px;
}

table tr th:nth-child(5), table tr td:nth-child(5),
table tr th:last-child, table tr td:last-child {
  width: 60px;
  text-align: center;
}

table tr th:nth-child(5) ::ng-deep .mat-sort-header-container,
table tr th:last-child ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
  padding-left: 18px;
}

table tr:last-child td {
  border-color: rgba(0,0,0,.7);
}

mat-toolbar {
  margin: -10px;
  width: 100vw;
  padding-bottom: 15px;
}

@media screen and (orientation:portrait) {
  .table-action-wrapper {
    flex-direction: column;
  }
}
