<h1 mat-dialog-title>Create new transaction</h1>
<div mat-dialog-content>
  <div *ngIf="uploading" class="loading-block">
    <mat-spinner></mat-spinner>
  </div>
  <mat-error *ngIf="serverErrorMessage.other.length > 0">
    {{serverErrorMessage.other}}
  </mat-error>
  <form [formGroup]="formData">
    <mat-form-field>
      <mat-label>Type of transaction</mat-label>
      <mat-select [formControl]="typeFormControl">
        <mat-option value="0">Send credit points</mat-option>
        <mat-option value="1">Request credit points</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{typeFormControl.value === '0' ? 'Send to' : 'Request from'}}" formControlName="userId"/>
      <mat-hint>Enter user ID that is shown in their profile</mat-hint>
      <mat-error *ngIf="userIdFormControl.hasError('serverInvalid')">
        {{ serverErrorMessage.userId }}
      </mat-error>
      <mat-error *ngIf="userIdFormControl.hasError('pattern')">
        Invalid user ID entered!
      </mat-error>
      <mat-error *ngIf="userIdFormControl.hasError('required')">
        User ID is <strong>required</strong>.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Amount" formControlName="amount" type="number"/>
      <mat-error *ngIf="amountFormControl.hasError('serverInvalid')">
        {{ serverErrorMessage.amount }}
      </mat-error>
      <mat-error *ngIf="amountFormControl.hasError('min')">
        Minimum transfer amount per transaction is 1 credit point.
      </mat-error>
      <mat-error *ngIf="amountFormControl.hasError('max')">
        Maximum transfer amount per transaction is 2500 credit points.
      </mat-error>
      <mat-error *ngIf="amountFormControl.hasError('required')">
        Transaction amount is <strong>required</strong>.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Description" formControlName="description"/>
    </mat-form-field>

    <mat-checkbox #approval>I approve this transaction</mat-checkbox>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-raised-button [disabled]="!approval.checked || formData.invalid" (click)="closeDialog()" color="primary">{{typeFormControl.value === '0' ? 'Send' : 'Request'}}</button>
</div>
