div.mat-dialog-actions {
  justify-content: space-between;
}
div.mat-dialog-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
}
div.loading-block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000033;
  z-index: 1;
}
div.loading-block mat-spinner {
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
div.qr-code-wrapper {
  height: 400px;
}
div.qr-code-wrapper p {
  margin: 0;
}
mat-form-field {
  width: 100%;
}
mat-checkbox {
  margin-bottom: 10px;
}
