.order-wrapper {
  max-width: 1200px;
  margin: 10px auto 200px;
  padding: 0 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.order-list {
  width: 100%;
}
.expand-width {
  width: 300px;
}
mat-spinner {
  margin-top: 30vh;
}
