<div class="order-wrapper">
  <mat-form-field class="expand-width">
    <mat-label>Order type</mat-label>
    <mat-select value="0" (valueChange)="getOrderList($event)">
      <mat-option value="-1">Past order</mat-option>
      <mat-option value="0">Current and modfiable order</mat-option>
      <mat-option value="1">All order</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-spinner *ngIf="!loaded"></mat-spinner>
  <div class="order-list" *ngIf="loaded">
    <mat-accordion>
      <app-order-history-detail *ngFor="let order of orderList; let orderIndex = index" [order]="order" [orderIndex]="orderIndex" (cancelOrder)="onCancelOrder($event)"></app-order-history-detail>
    </mat-accordion>
    <h2 *ngIf="orderList.length === 0" style="text-align: center">No order found.</h2>
  </div>
</div>
