div.mat-dialog-content, div.credit-controller {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
div.mat-dialog-actions {
  justify-content: space-between;
}

.center {
  align-self: center;
}

div.mat-dialog-content mat-form-field {
  width: 100%;
}
div.mat-dialog-content mat-form-field.big-text {
  font-size: 1.6em;
}

span[matPrefix] {
  padding-right: 5px;
}
span[matSuffix] {
  padding-left: 5px;
}
