<h3 mat-dialog-title>Exchange credit</h3>
<div mat-dialog-content>
  <div *ngIf="uploading" class="loading-block">
    <mat-spinner></mat-spinner>
  </div>
  <mat-form-field>
    <input matInput placeholder="Exchange {{isTopup ? 'to' : 'from'}} user ID" [formControl]="userFormControl"/>
    <mat-hint>Enter user ID that is shown in their profile</mat-hint>
    <mat-error *ngIf="userFormControl.hasError('serverInvalid')">
      {{ serverErrorMessage.userId }}
    </mat-error>
    <mat-error *ngIf="userFormControl.hasError('pattern')">
      Invalid user ID entered!
    </mat-error>
    <mat-error *ngIf="userFormControl.hasError('required')">
      User ID is <strong>required</strong>.
    </mat-error>
  </mat-form-field>
  <div class="credit-controller" [ngStyle]="{'flex-direction': isTopup ? 'column' : 'column-reverse'}">
    <mat-form-field class="big-text">
      <span matPrefix>RM</span>
      <input matInput type="number" placeholder="{{isTopup ? 'Exchange from' : 'To'}}" step="1" min="1" max="250" [formControl]="rmFormControl"/>
      <mat-error *ngIf="creditFormControl.hasError('serverInvalid')">
        {{ serverErrorMessage.amount }}
      </mat-error>
      <mat-error *ngIf="creditFormControl.hasError('min')">
        Minimum exchange amount is 10 credit point.
      </mat-error>
      <mat-error *ngIf="creditFormControl.hasError('max')">
        Minimum exchange amount is 2500 credit points.
      </mat-error>
      <mat-error *ngIf="creditFormControl.hasError('required')">
        Transaction amount is <strong>required</strong>.
      </mat-error>
    </mat-form-field>
    <button class="center" mat-button (click)="switchExchange()" matTooltip="Switch"><mat-icon class="size-32">swap_vert</mat-icon></button>
    <mat-form-field class="big-text">
      <input matInput type="number" placeholder="{{isTopup ? 'To' : 'Exchange from'}}" step="10" min="10" max="2500" [formControl]="creditFormControl"/>
      <span matSuffix>CP</span>
      <mat-hint>CP = Credit Point</mat-hint>
    </mat-form-field>
  </div>
  <mat-error *ngIf="serverErrorMessage.popup.length > 0">{{serverErrorMessage.popup}}</mat-error>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">Close</button>
    <button mat-raised-button color="primary" (click)="submitExchange()">Exchange</button>
</div>
