div.mat-dialog-content img {
  max-width: 100%;
  max-height: 100%;
}
div.mat-dialog-content {
  position: relative;
  text-align: center;
}
div.mat-dialog-content mat-spinner {
  margin: 0 auto;
}
div.mat-dialog-actions {
  justify-content: space-between;
}
