<h1 mat-dialog-title>Add new meal</h1>
<div mat-dialog-content *ngIf="!loaded">
  <mat-spinner></mat-spinner>
</div>
<div mat-dialog-content *ngIf="loaded">
  <img src="{{selectedMeal.pictureUrl}}"/>
  <mat-form-field>
    <mat-label>Meal name</mat-label>
    <mat-select required [(value)]="selectedMeal" [formControl]="mealSelectFormControl" (valueChange)="changedMealSelection($event)">
      <mat-option *ngFor="let meal of mealList" [value]="meal">{{meal.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="mealSelectFormControl.hasError('required')">
        Please select a meal.
    </mat-error>
  </mat-form-field>
  <mat-spinner *ngIf="!loaded"></mat-spinner>
  <p>{{selectedMeal.description}}</p>
  <p>{{selectedMeal.calories}} calories</p>
  <p>
    <mat-form-field>
      <input matInput type="number" placeholder="Meal Price" [formControl]="priceFormControl"/>
      <mat-error *ngIf="priceFormControl.hasError('serverInvalid')">
        {{ serverErrorMessage.price }}
      </mat-error>
      <mat-error *ngIf="priceFormControl.hasError('min')">
        The minimum price for a meal is 0 credit points.
      </mat-error>
      <mat-error *ngIf="priceFormControl.hasError('max')">
        The maximum price for a meal is 350 credit points.
      </mat-error>
      <mat-error *ngIf="priceFormControl.hasError('required')">
        Meal price is <strong>required</strong>.
      </mat-error>
    </mat-form-field>
    credit points
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-raised-button [disabled]="mealSelectFormControl.invalid || priceFormControl.invalid" (click)="closeDialog()" color="primary">Add</button>
</div>
