.content-wrapper {
  display: flex;
  align-items: stretch;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.chat-list-wrapper {
  display: flex;
  flex-direction: column;
  width: 25%;
  min-width: 200px;
  max-width: 350px;
}

.chat-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chat-wrapper {
  margin-left: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chat-selectable-row {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.chat-selectable-row h3, .chat-selectable-row p {
  margin: 0;
}

.message-list-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.message-send-wrapper {
  height: 80px;
  display: flex;
  border-top: 1px solid rgba(0,0,0,.2);
  align-items: center;
  padding: 5px 10px;
}
.message-send-wrapper mat-form-field {
  flex-grow: 1;
  align-self: stretch;
}

mat-spinner {
  align-self: center;
}

.to-left, .to-right {
  max-width: 60%;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 10px;
  padding: 10px;
}
.to-left p, .to-right p {
  margin: 0;
  font-size: 10px;
}

.to-left {
  align-self: flex-start;
  background: #bcc6ff;
}

.to-right {
  align-self: flex-end;
}

.system-feedback {
  margin: 10px;
}
