<div class="content-wrapper">
  <div class="chat-list-wrapper mat-elevation-z2">
    <mat-spinner *ngIf="!listLoaded"></mat-spinner>
    <div class="chat-list">
      <button mat-raised-button [color]="feedback.id === currentFeedback.id ? 'primary' : 'none'" class="chat-selectable-row" *ngFor="let feedback of feedbackList" (click)="onClickFeedback(feedback)">
        <h3>{{feedback.toUsername}}</h3>
        <p>{{feedback.messages[0].message}}</p>
      </button>
    </div>
    <button mat-raised-button class="system-feedback" (click)="openFeedback()" *ngIf="!isUserOperator">Give system feedback</button>
  </div>
  <div class="chat-wrapper mat-elevation-z2">
    <mat-spinner *ngIf="!messageLoaded"></mat-spinner>
    <div class="message-list-wrapper">
      <div *ngFor="let message of currentFeedback.messages" [ngClass]="{'to-left': !message.isSelfSend, 'to-right': message.isSelfSend}">
        {{message.message}}
        <p>{{message.date.toLocaleString()}}</p>
      </div>
    </div>
    <div class="message-send-wrapper">
      <mat-form-field>
        <textarea matInput placeholder="Send a message" [formControl]="messageFormControl"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="messageFormControl.invalid || currentFeedback.id.length !== 10" (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>
