<div class="center-wrapper">
  <div class="content-wrapper mat-elevation-z2">
    <div class="selection-wrapper">
      <button mat-button [color]="pageTab === 0 ? 'primary' : 'none'" (click)="changePageTab(0)"><mat-icon>account_box</mat-icon>User info</button>
      <button mat-button [color]="pageTab === 1 ? 'primary' : 'none'" (click)="changePageTab(1)"><mat-icon>lock</mat-icon>Change password</button>
      <div class="selection-spacing"></div>
      <button mat-button routerLink="/logout" routerLinkActive="active"><mat-icon>exit_to_app</mat-icon>Logout</button>
    </div>

    <mat-card *ngIf="pageTab === 0">
      <mat-card-header>
        User info
      </mat-card-header>
      <mat-card-content>
        <div class="info-row">
          <h3>User ID (for transaction):</h3>
          <h3>{{userInfo.id}}</h3>
        </div>
        <div class="info-row">
          <h3>Username:</h3>
          <h3>{{userInfo.displayName}}</h3>
        </div>
        <div class="info-row">
          <h3>Email:</h3>
          <h3>{{userInfo.email}}</h3>
        </div>
        <div class="info-row">
          <h3>{{userAuth.accessLevel === 0 ? 'College ID' : 'IC Number'}}:</h3>
          <h3>{{userInfo.idNumber}}</h3>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="pageTab === 1">
      <mat-card-header>
        Change Password
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="formData">
          <mat-form-field>
            <input matInput type="password" placeholder="Current Password" formControlName="oldPassword" />
            <mat-error *ngIf="oldPassFormControl.hasError('serverInvalid')">
              {{ serverErrorMessage.oldPassword }}
            </mat-error>
            <mat-error *ngIf="oldPassFormControl.hasError('minlength')">
              Password must be at least 8 characters long.
            </mat-error>
            <mat-error *ngIf="oldPassFormControl.hasError('pattern')">
              Password must contains one uppercase character, one lowercase character, and a number.
            </mat-error>
            <mat-error *ngIf="oldPassFormControl.hasError('required')">
              Password is <strong>required</strong>.
            </mat-error>
          </mat-form-field><br>
          <mat-form-field>
            <input matInput type="password" placeholder="New Password" formControlName="newPassword" (keyup.enter)="modifyPassword()" (keyup)="checksamepass()"/>
            <mat-error *ngIf="newPassFormControl.hasError('serverInvalid')">
              {{ serverErrorMessage.newPassword }}
            </mat-error>
            <mat-error *ngIf="newPassFormControl.hasError('minlength')">
              Password must be at least 8 characters long.
            </mat-error>
            <mat-error *ngIf="newPassFormControl.hasError('pattern')">
              Password must contains one uppercase character, one lowercase character, and a number.
            </mat-error>
            <mat-error *ngIf="newPassFormControl.hasError('required')">
              Password is <strong>required</strong>.
            </mat-error>
          </mat-form-field>
        </form>
        <button mat-raised-button color="primary" (click)="modifyPassword()">Change Password</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
