.center-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}

.content-wrapper {
  display: flex;
  max-width: 1000px;
  height: 80%;
  width: 95%;
}

.selection-wrapper {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 20px 0;
}

.selection-wrapper button {
  height: 50px;
  text-align: left;
}
.selection-wrapper button mat-icon {
  margin: 0 10px;
}

.info-row {
  display: flex;
  align-items: center;
  width: 100%;
}
.info-row :first-child {
  width: 40%;
  text-align: right;
  padding-right: 20px;
  box-sizing: border-box;
}
.info-row :last-child {
  font-weight: normal;
  width: 60%;
}
.selection-spacing {
  flex-grow: 1;
}

mat-card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
mat-card-header {
  margin-bottom: 10px;
  margin-left: -32px;
  font-size: 1.5em;
}
mat-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}
mat-card-content button {
  margin-top: 10px;
}

mat-card-content form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
mat-form-field {
  width: 50%;
}

@media (max-width: 767px) {
  .content-wrapper {
    flex-direction: column;
    min-height: 90%;
  }
  mat-form-field {
    width: 100%;
  }
}
