<app-header [SideNav]="sidenav"></app-header>

<mat-sidenav-container [ngClass]="{'main-page': true, 'hide': hasHide}">
  <mat-sidenav #sidenav mode="over">
    <app-sidebar [SideNav]="sidenav"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <main #mainContainer>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
