mat-sidenav-container.main-page {
  height: calc(100vh - 64px);
}

mat-sidenav-container.main-page main {
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

@media (min-width: 600px) and (max-width: 767px) {
  mat-sidenav-container.main-page {
    height: calc(100vh - 128px);
  }
  mat-sidenav-container.main-page.hide {
    height: calc(100vh - 64px);
  }
}
@media (max-width: 599px) {
  mat-sidenav-container.main-page {
    height: calc(100vh - 112px);
  }
  mat-sidenav-container.main-page.hide {
    height: calc(100vh - 56px);
  }
}
