div.mat-dialog-content img {
  max-width: 100%;
  max-height: 100%;
}
mat-form-field.full-width {
  width: 100%;
}
h1.mat-dialog-title {
  text-align: center;
}
p.small-word {
  font-size: 13px;
}
.no-margin {
  margin: 0;
}
div.mat-dialog-actions {
  justify-content: space-between;
}
