<h1 mat-dialog-title>{{orderDetail.meal.name}}</h1>
<div mat-dialog-content>
    <img src="{{orderDetail.meal.pictureUrl}}"/>
  <p>{{orderDetail.meal.description}}</p>
  <p><b>{{orderDetail.meal.price}}</b> credit points</p>
  <mat-form-field class="full-width">
    <input #quantity matInput placeholder="Preorder quantity" [formControl]="quantityFormControl" type="number" min="1" max="5" autofocus>
    <mat-error *ngIf="quantityFormControl.hasError('min')">
      You must preorder at least 1 meal!
    </mat-error>
    <mat-error *ngIf="quantityFormControl.hasError('max')">
      You can preorder at most 5 meals!
    </mat-error>
    <mat-error *ngIf="quantityFormControl.hasError('required')">
      Please enter preorder meal amount!
    </mat-error>
  </mat-form-field>
  <p class="small-word no-margin">Total credit points needed to purchase:</p>
  <p class="no-margin"><b>Price: {{orderDetail.meal.price * quantity.value}} credit points</b></p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-raised-button [disabled]="quantityFormControl.invalid" (click)="closeDialog()" color="primary">Add</button>
</div>
