<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>{{order.menu.isLunch ? 'Lunch' : 'Breakfast'}} for {{order.menu.date.toDateString()}}</mat-panel-title>
    <mat-panel-description>Vendor: {{order.menu.vendor.name}}, Preorder ID: {{order.id}} {{order.cancel ? '(Cancelled)' : ''}}</mat-panel-description>
  </mat-expansion-panel-header>
  <table mat-table [dataSource]="order.details">
    <ng-container matColumnDef="picture">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"> <img src="{{element.meal.pictureUrl}}"/> </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Meal Name </th>
      <td mat-cell *matCellDef="let element"> {{element.meal.name}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Meal Price </th>
      <td mat-cell *matCellDef="let element"> {{element.meal.price}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let element; let detailIndex = index">
          <p *ngIf="!isEditing">{{element.quantity}}</p>
          <mat-form-field class="minimize" *ngIf="isEditing">
            <input matInput placeholder="Quantity" type="number" [formControl]="formGroup.get(element.meal.id)" value="{{element.quantity}}" min="1" max="5" (change)="onQuantityChange(detailIndex)"/>
            <mat-error *ngIf="formGroup.get(element.meal.id).hasError('min')">
              Minimum preorder quantity is 1.
            </mat-error>
            <mat-error *ngIf="formGroup.get(element.meal.id).hasError('max')">
              Maximum preorder quantity is 5.
            </mat-error>
            <mat-error *ngIf="formGroup.get(element.meal.id).hasError('required')">
                Preorder quantity is <strong>required</strong>.
            </mat-error>
          </mat-form-field>
      </td>
      <td mat-footer-cell *matFooterCellDef> Total: </td>
    </ng-container>
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Subtotal </th>
      <td mat-cell *matCellDef="let element"> {{element.meal.price * element.quantity}} </td>
      <td mat-footer-cell *matFooterCellDef> {{order.getTotalPrice()}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element; let detailIndex = index">
        <button mat-mini-fab (click)="removeDetailFromOrder(detailIndex)"><mat-icon>delete</mat-icon></button>
      </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
  <mat-action-row *ngIf="!isEditing && !order.cancel">
    <button *ngIf="editable" mat-raised-button color="warn" (click)="askCancelOrder()">Cancel preorder</button>
    <button *ngIf="editable" mat-raised-button color="accent" (click)="changeEditView()">Modify preorder</button>
    <button *ngIf="!editable" mat-raised-button color="accent" (click)="showFeedbackForm()">Provide feedback</button>
    <button mat-raised-button color="primary" (click)="showCoupon()">Show preorder coupon</button>
  </mat-action-row>
  <mat-action-row *ngIf="isEditing && !order.cancel">
    <button mat-raised-button (click)="cancelEdit()">Cancel modify</button>
    <button mat-raised-button color="primary" (click)="askConfirmEdit()">Save modifed preorder</button>
  </mat-action-row>
  <mat-action-row style="padding-right: 20px" *ngIf="order.cancel">
    This order has been cancelled.
  </mat-action-row>
</mat-expansion-panel>
