mat-panel-title {
  flex-grow: unset;
  width: 35%;
  min-width: 120px;
  max-width: 300px;
  align-self: center;
}
img {
  max-width: 100%;
  max-height: 30vh;
  vertical-align: middle;
}
table {
  width: 100%;
}

table tr td:first-child {
  width: 15%;
  text-align: center;
}
table tr td:nth-child(2), table tr th:nth-child(2) {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 100px;
}
table tr td:nth-child(3), table tr td:nth-child(4), table tr td:nth-child(5):not(:last-child) {
  max-width: 200px;
  min-width: 60px;
  width: 10%;
}
table tr td:last-child {
  width: 80px;
}
table tr td:last-child button.mat-mini-fab {
  margin-left: 10px;
}
td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-right: 0;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 0;
}

mat-action-row .mat-raised-button {
  margin-right: 15px;
  margin-bottom: 10px;
}
.minimize {
  width: 80px;
}

@media screen and (max-width: 553px) {
  mat-action-row {
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px 16px 16px 24px;
  }
}

