.info-and-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-info-wrapper {
  display: flex;
}
.qrcode-wrapper {
  display: flex;
  align-items: center;
  width: auto;
}
.order-info {
  flex-grow: 1;
}
.order-info h3, .order-info p {
  margin: 0;
}
.order-info h3:first-child {
  margin-top: 12px;
}
.order-info h3 {
  margin-top: 5px;
}
.menu-info {
  padding-left: 20px;
}
table {
  width: 100%;
  border: 1px solid rgba(0,0,0,.12);
  border-bottom: none;
}
table tr th, table tr td {
  height: 40px;
  text-align: center;
}
table tr th:first-child, table tr td:first-child {
  width: 70%;
}
button {
  margin-top: 10px;
}

@media screen and (max-width: 680px) {
  .order-info-wrapper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
}
