<div class="info-and-button-wrapper">
  <div class="order-info-wrapper">
    <div class="qrcode-wrapper">
      <ngx-qrcode [qrc-value]="stringifiedJsonData"></ngx-qrcode>
    </div>
    <div class="order-info">
      <h3>Preorder ID: {{order.id}}</h3>
      <h3>User ID: {{creditService.user}}</h3>
      <h3>Menu Detail:</h3>
      <div class="menu-info">
        <p>Vendor name: {{order.menu.vendor.name}}</p>
        <p>Menu type and date: {{order.menu.isLunch ? 'Lunch' : 'Breakfast'}} for {{order.menu.date.toDateString()}}</p>
      </div>
      <h3>Preorder detail:</h3>
      <table mat-table [dataSource]="order.details">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Meal Name </th>
          <td mat-cell *matCellDef="let element"> {{element.meal.name}} </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <button mat-raised-button [mat-dialog-close]="false" tabindex="-1">Close</button>
</div>
