a[mat-button] {
  width: 100%;
}
mat-icon {
  margin: 0 5px 0 0;
}
.sidebar-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sidebar-menu-list p {
  margin: 0;
}
.sidebar-menu-list p a[mat-button] {
  text-align: left;
  padding: 5px 25px 5px 15px;
}
.sidebar-menu-list.top {
  flex-grow: 2;
}
