<div class="sidebar-menu" (click)="SideNav.toggle()">
  <div class="sidebar-menu-list top" *ngIf="!isLogin">
    <p><a mat-button routerLink="/" routerLinkActive="active"> <mat-icon>dashboard icon</mat-icon> Main Menu </a></p>
  </div>
  <div class="sidebar-menu-list top"  *ngIf="isLogin">
    <p><a mat-button routerLink="/" routerLinkActive="active"> <mat-icon>dashboard icon</mat-icon> Main Menu </a></p>
    <p><a mat-button routerLink="/order" routerLinkActive="active" *ngIf="authLevel === CUSTOMER"> <mat-icon>restaurant_menu</mat-icon> Preorder Menu </a></p>
    <p><a mat-button routerLink="/orderHistory" routerLinkActive="active" *ngIf="authLevel === CUSTOMER"> <mat-icon>receipt</mat-icon> Placed Preorder </a></p>
    <p><a mat-button routerLink="/consumption" routerLinkActive="active" *ngIf="authLevel === CUSTOMER"> <mat-icon>timeline</mat-icon> Food Intake </a></p>
    <p><a mat-button routerLink="/vendor/meal" routerLinkActive="active" *ngIf="authLevel === VENDOR"> <mat-icon>fastfood</mat-icon> Meal management </a></p>
    <p><a mat-button routerLink="/vendor/menu" routerLinkActive="active" *ngIf="authLevel === VENDOR"> <mat-icon>restaurant_menu</mat-icon> Menu management </a></p>
    <p><a mat-button routerLink="/vendor/order" routerLinkActive="active" *ngIf="authLevel === VENDOR"> <mat-icon>receipt</mat-icon> Preorder report </a></p>
    <p><a mat-button routerLink="/vendor/verify" routerLinkActive="active" *ngIf="authLevel === VENDOR"> <mat-icon>crop_free</mat-icon> Verify preorder </a></p>
    <p><a mat-button routerLink="/topup" routerLinkActive="active" *ngIf="authLevel === OPERATOR"> <mat-icon>attach_money</mat-icon> Exchange credit point </a></p>
    <p><a mat-button routerLink="/user/credit" routerLinkActive="active"> <mat-icon>account_balance_wallet</mat-icon> Credit History </a></p>
  </div>
  <div class="sidebar-menu-list">
    <p><a mat-button routerLink="/accountInfo" routerLinkActive="active" *ngIf="isLogin"> <mat-icon>account_circle</mat-icon> Account info </a></p>
    <p><a mat-button routerLink="/{{loginoutUrl}}" routerLinkActive="active"> <mat-icon>{{loginoutIcon}}</mat-icon> {{loginoutText}} </a></p>
    <p><a mat-button routerLink="/feedback" routerLinkActive="active"> <mat-icon>feedback</mat-icon> Feedback </a></p>
    <p><a mat-button routerLink="/aboutus" routerLinkActive="active"> <mat-icon>info</mat-icon> About Canteen App </a></p>
  </div>
</div>
