.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto 100px;
  max-width: 1000px;
}

.date-select-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-select-wrapper mat-form-field {
  width: 270px;
  margin-bottom: 50px;
}

.report-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report-wrapper table {
  width: 100%;
}
.report-wrapper h3 {
  margin: 0 0 30px;
}
