<div class="content-wrapper">
  <div class="date-select-wrapper">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" (dateChange)="updateChosenDate($event.value)" placeholder="Starting date of report" [formControl]="dateFormControl">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-hint>The system will automatically choose the ending date of report depends on report type</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Report type</mat-label>
      <mat-select [formControl]="typeFormControl" (valueChange)="updateChosenType($event)">
        <mat-option value="0">Daily consumption report</mat-option>
        <mat-option value="1">Weekly consumption report</mat-option>
        <mat-option value="2">Monthly consumption report</mat-option>
      </mat-select>
      <mat-hint>Note: Monthly = 30 days</mat-hint>
    </mat-form-field>
  </div>
  <div class="report-wrapper" *ngIf="isLoaded">
    <h3>Total calories intake: {{total}} calories</h3>
    <h3>Average calories intake per meal: {{average}} calories</h3>
    <h3>Average calories intake per day: {{dayAverage}} calories</h3>
    <table mat-table class="mat-elevation-z2" [dataSource]="dateConsumptionArray">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element; let index = index" [style.display]="(index > 0 && element.date - dateConsumptionArray[index - 1].date === 0) ? 'none' : ''"
            [attr.rowspan]="((index < dateConsumptionArray.length - 1) && (element.date - dateConsumptionArray[index + 1].date === 0)) ? 2 : 1">
            {{element.date.toDateString()}}
          </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Meal Type </th>
        <td mat-cell *matCellDef="let element"> {{element.isLunch ? 'Lunch' : 'Breakfast'}} </td>
      </ng-container>
      <ng-container matColumnDef="consumption">
        <th mat-header-cell *matHeaderCellDef> Calories Intake </th>
        <td mat-cell *matCellDef="let element"> {{element.consumption}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
