<button mat-raised-button class="meal-clickable" (click)="showNewOrder()">
  <div class="meal-info-wrapper">
    <div class="meal-info-content">
      <h2>{{mealDetail.name}}</h2>
      <p>{{mealDetail.description}}</p>
      <p>{{mealDetail.price}} credit points</p>
      <p>{{mealDetail.calories}} Calories</p>
    </div>
    <img class="full-right-image" src="{{mealDetail.pictureUrl}}">
  </div>
</button>
