button.meal-clickable {
  width: 100%;
}
button.meal-clickable:hover {
  box-shadow: 0 8px 8px rgba(10,16,20,.24),0 0 8px rgba(10,16,20,.12);
}
div.meal-info-wrapper {
  display: flex;
  align-items: center;
  margin: 10px;
}
div.meal-info-content {
  width: 70%;
  margin-right: 10px;
  margin-bottom: 0;
}
div.meal-info-content * {
  white-space: normal;
  text-align: center;
  line-height: 18px;
}
img.full-right-image {
  margin: 0 auto;
  max-height: 500px;
  max-width: 35%;
  width: auto;
  height: auto;
}
