/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-icon.size-32 {
  width: 32px;
  height: 32px;
  font-size: 32px;
}

.has-custom-menu {
  background: #ff4081;
  border-radius: 100%;
}

.has-custom-menu .mat-calendar-body-cell-content {
  color: #fff;
}

input[type="number"] {
  -moz-appearance:textfield;
}

@media (max-width: 400px) {
  button[mat-mini-fab] {
    width: 30px;
    height: 30px;
  }
  button[mat-mini-fab] mat-icon {
    width: 30px;
    height: 30px;
    line-height: 15px;
    font-size: 20px;
  }
}
