<h1 mat-dialog-title>{{data.header}}</h1>
<div mat-dialog-content>
  <p>{{data.body}}</p>
  <p *ngIf="data.bodyDescription">{{data.bodyDescription}}</p>
  <div style="text-align: center" *ngIf="data.detail">
    Transfer credit point<br>
    From: <b>YOUR ACCOUNT</b><br>
    To: {{data.userId}}<br>
    Amount: <b>{{data.amount}}</b><br>
    <p *ngIf="data.description">Description: <br>
    {{data.description}}</p>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()" *ngIf="data.cancel">{{data.cancel}}</button>
  <button mat-raised-button [mat-dialog-close]="true" color="primary">{{data.action}}</button>
</div>
