<div class="center-wrapper">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title *ngIf="type === 0">Login</mat-card-title>
      <mat-card-title *ngIf="type === 1">Register</mat-card-title>
      <mat-card-title *ngIf="type === 2">Reset Password</mat-card-title>
    </mat-card-header>


    <mat-card-content>
      <div class="padder" *ngIf="type === 0"></div>
      <form [formGroup]="formData">
        <mat-form-field *ngIf="type === 1">
          <mat-label>Register as: </mat-label>
          <mat-select value="customer" (valueChange)="updateRegister($event)">
            <mat-option value="customer">Customer (Student/Staff)</mat-option>
            <mat-option value="vendor">Food vendor</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="type !== 2">
          <input matInput placeholder="Username" formControlName="username" autofocus>
          <mat-error *ngIf="usernameFormControl.hasError('serverInvalid')">
            {{ serverErrorMessage.username }}
          </mat-error>
          <mat-error *ngIf="usernameFormControl.hasError('minlength')">
            Username must be at least 4 characters long.
          </mat-error>
          <mat-error *ngIf="usernameFormControl.hasError('pattern')">
            Only standard U.S. Keyboard character key are allowed.
          </mat-error>
          <mat-error *ngIf="usernameFormControl.hasError('required')">
            Username is <strong>required</strong>.
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="type !== 0">
          <input matInput placeholder="Email" type="email" formControlName="email" autofocus>
          <mat-error *ngIf="emailFormControl.hasError('serverInvalid')">
            {{ serverErrorMessage.email }}
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('pattern')">
            Please enter a valid email address.
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>.
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="type === 1 && registerType === 0">
          <input matInput placeholder="Student/Staff ID" formControlName="collegeId">
          <mat-error *ngIf="collegeIdFormControl.hasError('serverInvalid')">
            {{ serverErrorMessage.collegeId }}
          </mat-error>
          <mat-error *ngIf="collegeIdFormControl.hasError('pattern')">
            Student ID format are 1201234 and Staff ID format are 1234 or P1234.
          </mat-error>
          <mat-error *ngIf="collegeIdFormControl.hasError('required')">
            Student/Staff ID is <strong>required</strong>.
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="type === 1 && registerType === 1">
          <input matInput placeholder="I/C Number" formControlName="icNumber">
          <mat-error *ngIf="icNumberFormControl.hasError('serverInvalid')">
            {{ serverErrorMessage.icNumber }}
          </mat-error>
          <mat-error *ngIf="icNumberFormControl.hasError('pattern')">
            I/C number format are 981231123456 (without dash '-').
          </mat-error>
          <mat-error *ngIf="icNumberFormControl.hasError('required')">
            I/C number is <strong>required</strong>.
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="type === 1 && registerType === 1">
          <input matInput placeholder="Vendor's System ID" formControlName="vendorId">
          <mat-hint>Vendor ID is generated by this system, leave blank if you are no associated with any existing vendor.</mat-hint>
          <mat-error *ngIf="vendorIdFormControl.hasError('serverInvalid')">
            {{ serverErrorMessage.vendorId }}
          </mat-error>
          <mat-error *ngIf="vendorIdFormControl.hasError('pattern')">
            Invalid vendor ID entered, please check again.
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="type !== 2">
          <input matInput placeholder="Password" type="password" formControlName="password" (keyup.enter)="keyEnterOnPassword()">
          <mat-error *ngIf="passwordFormControl.hasError('serverInvalid')">
            {{ serverErrorMessage.password }}
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('minlength')">
            Password must be at least 8 characters long.
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('pattern')">
            Password must contains one uppercase character, one lowercase character, and a number.
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>.
          </mat-error>
        </mat-form-field>

        <mat-checkbox formControlName="rememberMe" *ngIf="type !== 2">Remember me</mat-checkbox>
      </form>
      <p *ngIf="type === 2">We will send you a password reset link if you are registered under the email you have entered.</p>
      <a class="forgot" routerLink="/forgetPassword" routerLinkActive="active" *ngIf="type === 0">Forget password?</a>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/register" routerLinkActive="active" *ngIf="type === 0">Create Account</a>
      <button mat-raised-button color="primary" (click)="doLogin()" [disabled]="formData.invalid" *ngIf="type === 0">Login</button>

      <a mat-button routerLink="/login" routerLinkActive="active" *ngIf="type === 1">Login Instead</a>
      <button mat-raised-button color="primary" (click)="doRegister()" [disabled]="formData.invalid" *ngIf="type === 1">Register</button>

      <a mat-button routerLink="/login" routerLinkActive="active" *ngIf="type === 2">Login Instead</a>
      <button mat-raised-button color="primary" (click)="sendForgot()" [disabled]="formData.invalid" *ngIf="type === 2">Reset Password</button>
    </mat-card-actions>
  </mat-card>
</div>
