div.center-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: -32px;
}

mat-card.login-card {
  height: auto;
  max-width: 320px;
  padding: 20px 20px 30px;
  width: 100%;
}

mat-card.login-card > mat-card-content > form {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

mat-card.login-card > mat-card-content > form > mat-form-field,
mat-card.login-card > mat-card-content > form > mat-checkbox {
  margin: 7px 0;
}

mat-card.login-card > mat-card-actions {
  display: flex;
  justify-content: space-between;
}

.padder {
  margin-top: 30px !important;
}

.forgot {
  display: block;
  margin-top: 30px;
  text-decoration: none;
}

@media (max-width: 599px) {
  div.center-wrapper {
    margin-top: -28px;
  }
}
