<h1 mat-dialog-title>Feedback form</h1>
<div mat-dialog-content>
  <h3>Feedback for {{feedback.toUsername}}</h3>
  <p *ngIf="feedback.orderId.length > 0">Order ID: {{feedback.orderId}}</p>
  <form>
    <mat-form-field>
      <textarea matInput placeholder="Feedback message" [formControl]="messageFormControl"></textarea>
      <mat-error *ngIf="messageFormControl.hasError('serverInvalid')">
        {{ serverErrorMessage.message }}
      </mat-error>
      <mat-error *ngIf="messageFormControl.hasError('minLength')">
        Please enter at least 10 characters for feedback message.
      </mat-error>
      <mat-error *ngIf="messageFormControl.hasError('required')">
        Feedback message is <strong>required</strong>.
      </mat-error>
    </mat-form-field>
  </form>
  <mat-error *ngIf="serverErrorMessage.popup.length > 0">
    {{serverErrorMessage.popup}}
  </mat-error>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-raised-button [disabled]="messageFormControl.invalid" (click)="submitFeedback()" color="primary">Send feedback</button>
</div>
