<div class="credit-info-wrapper">
  <div class="include-padding mat-elevation-z8">
    <div class="loading-block" *ngIf="!loaded">
      <mat-spinner></mat-spinner>
    </div>
    <div class="table-action-wrapper">
      <div class="selection-wrapper">
        <mat-form-field>
          <mat-label>Transaction by month</mat-label>
          <mat-select [formControl]="selectFormControl" (valueChange)="retrieveTransaction($event)">
            <mat-option *ngFor="let monthOption of monthSelection" value="{{monthOption.value}}">{{monthOption.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
    </div>
    <div class="scrollable-table">
      <table mat-table matSort [dataSource]="transactionDataSource" matSortActive="transDate" matSortDirection="desc">
        <ng-container matColumnDef="transDate">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Transaction Date</th>
          <td mat-cell *matCellDef="let element"> {{element.date.toLocaleString()}} </td>
        </ng-container>

        <ng-container matColumnDef="transId">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Transaction ID</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="toUser">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> To/From Account </th>
          <td mat-cell *matCellDef="let element"> {{element.fromUser === creditService.user ? element.toUser : element.fromUser}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="orderId">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Preorder ID </th>
          <td mat-cell *matCellDef="let element"> {{element.preorderId || ''}} </td>
        </ng-container>

        <ng-container matColumnDef="credit">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Credit (In) </th>
          <td mat-cell *matCellDef="let element"> {{element.toUser === creditService.user ? element.amount : ''}} </td>
        </ng-container>

        <ng-container matColumnDef="debit">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Debit (Out) </th>
          <td mat-cell *matCellDef="let element"> {{element.fromUser === creditService.user ? element.amount : ''}} </td>
        </ng-container>

        <ng-container matColumnDef="verification">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Verified </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon *ngIf="element.verified">check</mat-icon>
            <button mat-button (click)="askConfirmTransaction(element)" *ngIf="!element.verified && element.fromUser === creditService.user">Click to Approve</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Balance </th>
          <td mat-cell *matCellDef="let element"> {{(element.verified || (element.id.length > 10 && element.balance > 0)) ? element.balance : ''}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <mat-toolbar>
    Total credit: {{creditService.amount}}
    <span style="flex-grow: 2"></span>
    <button mat-raised-button color="primary" (click)="createNewTransaction()">New transaction</button>
  </mat-toolbar>
</div>
